* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

html {
    background: url("images/beach.jpg") no-repeat center center fixed;
    background-size: cover;
 
    color: navy;
    text-shadow: 1px 1px 2px rgb(255, 245, 238);
}

html, body {
    height: 100%;

}

a {
    color: navy;
}

h2, h3 {
    font-family: 'Roboto', sans-serif;
}

.container {
    margin: 1px;
    height: 100%;              /* allows content to stretch entire page */
    display: flex;             /* flexbox container settings */
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 245, 238, .5);
}

.flex-header {               /* flex item */
    flex: 1;
}

.flex-main {                /*  flex item */
    flex: 10;
    text-align: center;  
    overflow-y: scroll;     /* main can vertically scroll */
}

.flex-footer {               /* flex item */
    flex: 1; 
    margin-bottom: 10px;
}

.flex-header h1 {
    margin: 20px;
    font-family: 'Permanent Marker', cursive;
    font-size: 40px;
}

.form {
    margin-bottom: 25px;
}

.form p {
    margin: 10px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.search-result {
    margin: 10px;
}

.search-result h2, .search-result h3 {
    margin-bottom: 10px;
}

.details, .back, .submit {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid navy;
    border-radius: 10px;
    font-size: 14px;
    background-color: #ffefd5;
    color: navy;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.input {
    font-size: 20px;
    padding: 5px;
}

input::placeholder {
    font-size: 16px;
    text-align: center;
    font-style: italic;
    color: grey;
}

.photos h2, .photos h3 {
    margin: 10px;
}

.weather {
    margin: 20px;             /* flexbox container settings */
    display: flex;
}

.day {
    margin-top: 20px;
    padding: 10px;
}

.forecast-img {
    width: 50px;
    margin-top: 5px;
}

.venue-img {
    border: solid 3px navy;
    border-radius: 20%;
    margin: 5px;
}

.fsq-attribution {
    margin-top: 8px;
    width: 200px;
}

.wb-attribution {
    margin-top: 20px;
}

.wb-attribution a {
    text-decoration: none;
}

@media (max-width: 845px) {
    .weather {                      /* change day divs into column when screen goes below px */
        flex-direction: column;
    }
}